.header {
  min-height: 50px;
  display: flex;
  border: 1px solid rgba(125, 125, 125, 0.25);
  width: 100%;
  justify-content: right;
  background: rgb(50, 50, 50);
}
.header_icon {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}
.header_icon a,
.header__subcontainer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
}
.header__subcontainer a {
  display: flex;
  justify-content: right;
  align-items: center;
}
.header__subcontainer {
  width: 100%;
  max-width: 300px;
  display: flex;
  margin: 0 20px;
  justify-content: right;
}
.header__cart {
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: right;
  width: 100%;
}
.product__count {
  font-size: large;
  font-weight: 700;
}
@media only screen and (max-width: 290px) {
  .header__subcontainer {
    flex-direction: column;
  }
  .header {
    min-height: auto;
  }
  .header_icon,
  .header__cart {
    padding: 10px 0;
    justify-content: center;
  }
  .header_icon {
    border-bottom: 1px solid rgba(125, 125, 125);
  }
}
